aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
astroid
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
cachetools
certifi
cffi
cfgv
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
defusedxml
deprecation
dill
distlib
distro
Django
django-cors-headers
djangorestframework
dnspython
email_validator
executing
fastapi
fastapi-cli
fastjsonschema
ffmpy
filelock
fonttools
fqdn
frozenlist
fsspec
gradio
gradio_client
h11
httpcore
httptools
httpx
huggingface-hub
identify
idna
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
isort
jedi
Jinja2
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lancedb
langchain
langchain-core
langchain-openai
langchain-text-splitters
langsmith
load-dotenv
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
multidict
nbclient
nbconvert
nbformat
nest-asyncio
nodeenv
notebook
notebook_shim
numpy
openai
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure-eval
py
pyarrow
pycparser
pydantic
pydantic_core
pydub
Pygments
pylance
pylint
pyparsing
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
ratelimiter
referencing
regex
requests
retry
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruff
semantic-version
Send2Trash
shellingham
six
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
tenacity
terminado
tiktoken
tinycss2
tomlkit
toolz
tornado
tqdm
traitlets
typer
types-python-dateutil
typing_extensions
tzdata
ujson
uri-template
urllib3
uvicorn
uvloop
virtualenv
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
widgetsnbextension
yarl
